* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 16px;
}

.good {
  font-size: 1.5rem;
  color: green;
  border: 3px solid green;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.error {
  font-size: 1.5rem;
  color: red;
  border: 3px solid red;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

